
*.zip
*.cache
Copters/obj/Debug/Copters.csproj.FileListAbsolute (Neruman-Book conflicted copy 2021-01-01 22 27 44).txt
Copters/obj/Debug/Copters (Neruman-Book conflicted copy 2021-01-01 22 27 45).pdb
Copters/obj/Debug/Copters (Neruman-Book conflicted copy 2021-01-01 22 27 45).exe
.vs/Copters/v16/ (Neruman-Book conflicted copy 2021-01-01 22 26 24).suo
Copters/App (Neruman-Book conflicted copy 2021-01-01 22 26 25).config
Copters/bin/Debug/Copters (Neruman-Book conflicted copy 2021-01-01 22 26 25).exe
Copters/bin/Debug/Copters (Neruman-Book conflicted copy 2021-01-01 22 26 26).pdb
Copters/bin/Debug/Copters.exe (Neruman-Book conflicted copy 2021-01-01 22 26 26).config
Copters/bin/Debug/Landing_150_Copter_120 (Neruman-Book conflicted copy 2021-01-01 22 26 26).txt
Copters/Copters (Neruman-Book conflicted copy 2021-01-01 22 26 25).csproj
Copters/Form1 (Neruman-Book conflicted copy 2021-01-01 22 26 25).cs
Copters/Form1.Designer (Neruman-Book conflicted copy 2021-01-01 22 26 25).cs
Copters/Landing (Neruman-Book conflicted copy 2021-01-01 22 26 25).cs
*.txt
*.txt
